@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes growVert
  from
    transform: scale(1, 0)
  to
    transform: scale(1, 1)

@keyframes growHor
  from
    transform: scale(0, 1)
  to
    transform: scale(1, 1)

.box,
.boxSpread
  top: pxToRem(100)
  bottom: pxToRem(100)
  animation: fadeIn 2s ease forwards

.box
  transition: width 0.3s ease 0.3s
  //transition: width 0.3s ease

.boxSpread
  transition: width 0.3s ease

.box
  width: 50%
.boxSpread
  width: pxToRem(162)

.sep
  width: 2px
  top: pxToRem(32)
  bottom: pxToRem(32)
  animation: growVert 1s ease forwards
  &Right
    left: -1px
  &Left
    right: -1px

.sepH
  height: 1px
  border: none !important
  animation: growHor 1s ease forwards
  +desktop()
    height: 2px

.partnersTitle
  max-width: pxToRem(400)

.galleryImage
  width: pxToRem(175)
  left: 50%
  transform: translateX(-50%)

.ramblerLogo
  left: 50%
  transform: translateX(-50%)
  width: pxToRem(95)
  height: pxToRem(36)

.team
  left: 50%
  transform: translateX(-50%)
  &Member
    width: pxToRem(100)
    height: pxToRem(100)

.contactsImage
  width: pxToRem(176)
  height: pxToRem(100)
  left: 50%
  transform: translateX(-50%)

.galleryIconBox
  width: pxToRem(261)
  height: pxToRem(65)
  &Spread
    width: pxToRem(56)
    height: pxToRem(20)
    transform: translateY(12vh)

.galleryIconBoxEn
  width: pxToRem(271)
  height: pxToRem(65)
  &Spread
    width: pxToRem(58)
    height: pxToRem(14)
    transform: translateY(12vh)

.teamIconBox
  width: pxToRem(315)
  height: pxToRem(74)
  &Spread
    width: pxToRem(68)
    height: pxToRem(20)
    transform: translateY(12vh)

.teamIconBoxEn
  width: pxToRem(177)
  height: pxToRem(65)
  &Spread
    width: pxToRem(38)
    height: pxToRem(14)
    transform: translateY(12vh)

.historyIconBox
  width: pxToRem(290.87)
  height: pxToRem(65.28)
  &Spread
    width: pxToRem(62.02)
    height: pxToRem(13.92)
    transform: translateY(-12vh)

.historyIconBoxEn
  width: pxToRem(317)
  height: pxToRem(65)
  &Spread
    width: pxToRem(68)
    height: pxToRem(14)
    transform: translateY(-12vh)

.contactsIconBox
  width: pxToRem(340)
  height: pxToRem(65)
  &Spread
    width: pxToRem(74)
    height: pxToRem(20)
    transform: translateY(-12vh)

.contactsIconBoxEn
  width: pxToRem(391)
  height: pxToRem(65)
  &Spread
    width: pxToRem(83)
    height: pxToRem(14)
    transform: translateY(-12vh)

.iconBox
  cursor: pointer
  //transition: width 0.3s ease 0.3s, height 0.3s ease 0.3s, transform 0.3s ease 0.3s
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease

.iconBoxSpread
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease
  // transform: scale(0.3)

.menuMobile
  margin-top: pxToRem(80)
  transition: opacity 0.1s ease

.iconGalleryM
  height: calc(41 / 126 * 100%)
.iconHistoryM
  height: calc(41 / 126 * 100%)
.iconHistoryMEn
  height: calc(41 / 126 * 100%)
.iconTeamM
  height: calc(47 / 126 * 100%)
.iconTeamMEn
  height: calc(41 / 126 * 100%)
.iconContactsM
  height: calc(41 / 126 * 100%)

.rowM
  height: calc((100vh - 3.0769rem * 2) / 4)
  display: flex
  align-items: center
  justify-content: center
  transition: height 0.3s ease

.rowMSpread
  height: pxToRem(40)
  height: calc((100vh - 3.0769rem * 2) / 8)

.circle
  width: pxToRem(40)
  height: pxToRem(40)
