.teamMember
  width: pxToRem(200)
  +desktop()
    width: pxToRem(280)
  &Image
    width: pxToRem(140)
    height: pxToRem(140)
    +desktop()
      width: pxToRem(180)
      height: pxToRem(180)
  &Name
    text-decoration: none !important
  &Sep
    width: pxToRem(40)
    +desktop()
      width: pxToRem(55)

.teamMember + .teamMember
  margin-top: pxToRem(48)
  +desktop()
    margin-top: 0
