.ramblerLogo
  width: pxToRem(236)
  height: pxToRem(89)

.referenceColumn
  width: pxToRem(260)

.referenceImageBox
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.referenceImage
  width: pxToRem(260)
