.ramblerLogo
  width: pxToRem(133)
  height: pxToRem(50)
  margin: 0 auto
  +desktop()
    width: pxToRem(236)
    height: pxToRem(89)
    margin: 0

.referenceColumn
  width: pxToRem(260)

.referenceImageBox
  left: 50%
  top: 40vh
  transform: translate(-50%, -50%)

.referenceImage
  +desktop()
    width: pxToRem(260)

.referenceModal
  top: pxToRem(80)
  bottom: pxToRem(80)
  &Close
    width: pxToRem(21)
    height: pxToRem(21)
    margin:0 auto
