@font-face
  font-family: 'CoFoKomsomolskayaBeta-Regular'
  src: url('/fonts/CoFoKomsomolskayaBeta-Regular.woff') format('woff'),
    url('/fonts/CoFoKomsomolskayaBeta-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CoFoSans-Medium'
  src: url('/fonts/CoFoSans-Medium.woff') format('woff'),
    url('/fonts/CoFoSans-Medium.woff2') format('woff2')
  font-weight: normal
  font-style: normal

