html
  font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH_M * 100) vw
  +desktop()
    font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH * 100) vw

html,
body
  font-family: CoFoSans-Medium, Helvetica, sans-serif
  font-weight: normal
  color: black

:link:hover
  text-decoration: underline

:focus
  outline: none !important
