.contacts
  &Text
    +desktop()
      width: pxToRem(735)
      margin: 0 auto
  &MapBox
    width: 100%
    height: pxToRem(250)
    +desktop()
      margin: 0 auto
      width: pxToRem(915)
      height: pxToRem(385)
  &Map
    filter: grayscale(100%)
