.intro
  // top: (120 / 666 * 100vh) //pxToRem(120)
  // bottom: (120 / 666 * 100vh) //pxToRem(120)
  +desktop()
    top: 25vh !important
    bottom:  25vh !important
    padding: 3vh 0 !important

// .logoM
  // height: (150 / 666) * 100vh

.logoP
  padding: 3vh 0
  +desktop()
    padding: 0
