$td = 0.7s

.footer
  transition: height $td ease
  &Content
    height: pxToRem(80)
    +desktop()
      height: pxToRem(100)
  a
    transition: opacity 0.2s ease

.footerBlack
  // height: pxToRem(120)
  // height: (120 / 666 * 100vh) //pxToRem(120)
  +desktop()
    height: 25vh !important

.footerOk
  height: pxToRem(80)
  +desktop()
    height: pxToRem(100)

.overlay
  transition: background-color $td ease

.overlayOk
  background-color: transparent
  pointer-events: none

.overlayBlack
  transition: background-color $td ease
  background-color: black


.igLogo
  width: pxToRem(10.83)
  height: pxToRem(10.83)
.fbLogo
  width: pxToRem(7.22)
  height: pxToRem(15.47)
.vkLogo
  width: pxToRem(16.15)
  height: pxToRem(9.22)

.input::-webkit-input-placeholder
  color: white
  opacity: 0.5

.input::-moz-placeholder
  color: white
  opacity: 0.5

.input:-ms-input-placeholder
  color: white
  opacity: 0.5

.input:-moz-placeholder
  color: white
  opacity: 0.5

.input
  border-bottom: pxToRem(2) solid rgba(255,255,255,0.5)
  transition: border-color 0.2s ease
  &:focus
    border-color: white
  &NonEmpty
    border-color: white
  +desktop()
    width: pxToRem(590)

.successMessage
  top: pxToRem(95)
  bottom: pxToRem(95)

.form
  transform: translateX(100%)
  top: pxToRem(75)
  bottom: pxToRem(75)
  input
    border-radius: 0 !important
  &Open
    transform: none
    transition: transform 0.3s ease

.successMessageM
  width: pxToRem(200)
